@font-face {
    font-family: 'Bega';
    src: url('Bega-Black.woff2') format('woff2'),
        url('Bega-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bega';
    src: url('Bega-MediumItalic.woff2') format('woff2'),
        url('Bega-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bega';
    src: url('Bega-Extralight.woff2') format('woff2'),
        url('Bega-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bega';
    src: url('Bega-LightItalic.woff2') format('woff2'),
        url('Bega-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bega';
    src: url('Bega-Medium.woff2') format('woff2'),
        url('Bega-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bega';
    src: url('Bega-ExtralightItalic.woff2') format('woff2'),
        url('Bega-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bega';
    src: url('Bega-Light.woff2') format('woff2'),
        url('Bega-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bega';
    src: url('Bega-Italic.woff2') format('woff2'),
        url('Bega-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bega';
    src: url('Bega-Semibold.woff2') format('woff2'),
        url('Bega-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bega';
    src: url('Bega-BoldItalic.woff2') format('woff2'),
        url('Bega-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bega';
    src: url('Bega-Bold.woff2') format('woff2'),
        url('Bega-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bega';
    src: url('Bega-BlackItalic.woff2') format('woff2'),
        url('Bega-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bega';
    src: url('Bega-Regular.woff2') format('woff2'),
        url('Bega-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bega';
    src: url('Bega-ThinItalic.woff2') format('woff2'),
        url('Bega-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bega';
    src: url('Bega-SemiboldItalic.woff2') format('woff2'),
        url('Bega-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bega';
    src: url('Bega-Thin.woff2') format('woff2'),
        url('Bega-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

